body {
    background-color: rgb(219, 212, 207);
    font-size: 17px;
    margin-bottom: 25px;
}

.left-side {
    list-style-type: none;
}

.container {
    text-align: center;
    padding-top: 50px;
}

.luettelo {
    list-style-type: none;
}

.left-side li{
    display: inline-block;
}

.left-side li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
}
.left-side li a:hover {
    color: rgb(210,180,140)
}

.nav-container {
    /* apply flex to get navigations in a row */
    display: flex;
    /* push the blocks to the edges using justify-content */
    justify-content: right;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 40px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    text-align: right;
    width: 100%; /* Full width */
    background-color: rgb(170, 162, 156);
    z-index: 9999;
}

.info {
    background-color: rgb(170, 162, 156);
    margin-top: 30px;
    padding-top: 85px;
    padding-bottom: 50px;
}

.otsikko-keskella {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    color: rgb(115, 111, 109)
}

.h1-otsikko {
    margin-left: 75px;
    text-shadow: 5px 5px 10px white;
    color: rgb(115, 111, 109)
}

.kuvausteksti {
    margin-left: 75px;
    margin-top: 50px;
    color: white;
}

.lisätietoa {
    margin-top: 50px;
    text-align: center;
}

#kissanpennut {
    margin-bottom: 50px;
    width: 48%;
    border-radius: 8px;
}
#ellu {
    width: 85%;
    border-radius: 8px;
}
#allu {
    width: 90%;
    border-radius: 8px;
}
#sindi {
    width: 95%;
    border-radius: 8px;
}


#yhteydenotto {
    margin-left: 75px;
    margin-bottom: 50px;
    text-align: center;
}

.responsive {
    margin-left: 78px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(115, 111, 109);
    text-align: center;
    margin-top: 30px;
}